include ../_variables/variables
doctype html
= "\n"
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7" lang="es"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9 ie8" lang="es"><![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10 ie9" lang="es"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="es">
<!--<![endif]-->
html(lang='es')
  block vars
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    title #{pageTitle}
    meta(name='description', content='')
    block wHead
      link(rel='stylesheet', href='css/style.css')
  body
    = "\n"
    <!--[if lte IE 8]>p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.<![endif]-->
    block wBody
    block wScripts
      script(src='js/main.min.js')