section.carousel__container
  h2 More products like this
  div.ch-carousel
    ul
      -for (var i = 1; i<= 12; i++) {
        li
          div.carousel__container--item
            img(src="images/smart-cover.jpg", itemprop="image", alt="Product #{i}", title="Product #{i}")
      -}